@{
    ViewData["Title"] = "Página inicial";
}

<div class="text-center container-fluid">
    <h1 class="display-4 mt-8 mb-8 p-3 mb-2 bg-success text-white">Bem vindo!</h1>
    <p>Sistema de cadastro de pessoas.</p>
</div>

<div class="text-center mt-6">
<a class="btn btn-success btn-lg btn-block" role="button" asp-controller="Contato" asp-action="Criar">Adicionar novo contato</a>
</div>

