@{
    ViewData["Title"] = "Confirmação apagar contato";
}

<div class="text-center mt-6">
    <h3>Realmente deseja apagar o contato?</h3>
</div>

<div class="d-flex justify-content-around"">
    <a class="btn btn-primary btn-lg btn-block mt-5" role="button">Cancelar exclusão</a>
    
    <a class="btn btn-danger btn-lg mt-5" role="button">Confirmar exclusão</a>
</div>
